# Lab bassic R to new users.

In [98]:


#nstall.packages("tidyverse")
#ibrary(tidyverse)
#nstall.packages('magrittr')
require(magrittr)
var1=c('hello','paula')
'hello' %>% toupper() %>% print()

'paula' %>% toupper() %>% print()



## RESERACH HOW WORK %IN%

[1] "HELLO"
[1] "PAULA"

# Generate a dataframe:

to practice some commands will be useful practice in a _dataframe_
using the function $data.frame(x_{1}, x_{2}, ... x_{n})$  where $x_{i}$ are vectors.




# Generate a new column
using _mutate_ we need call the library _dpyr_

# ifelse

ifelse works as the following way, if the expression is True then, return out
the fisrt value in other case return out the second variable, this coulbe nested.

In [99]:
# Lab
#generate a dataframe
job = c('economist','data scientist','proffesor')
wage = c('100','9000','10')
software = c('none','several','none')
df=data.frame(job,wage, software)
print(df)

# Creating a new variable.
require("dplyr")

print("new variable")
df = mutate(df,rate = ifelse(wage>10,1,0))
# using a pipe
df %<>% mutate(rate2 = ifelse(wage>100,1,0))

# Nested ifelse.
figure= c('triangle','triangle','square','square','circle','circle','square')
df2 = data.frame(figure)
print(df2)
# Neste ifelse.
df2 %<>% mutate(integer = ifelse(figure =='triangle',1, ifelse(figure=='circle',2,0 )))
print(df2)

             job wage software
1      economist  100     none
2 data scientist 9000  several
3      proffesor   10     none
[1] "new variable"
    figure
1 triangle
2 triangle
3   square
4   square
5   circle
6   circle
7   square
    figure integer
1 triangle       1
2 triangle       1
3   square       0
4   square       0
5   circle       2
6   circle       2
7   square       0

### Levelsof, base, value.unique
this command is very useful to data managament.

In [109]:
figure = c('triangle','circle','triangle','circle','triangle')
number = c('1','two','3','four','5')
df = data.frame(figure)



select(df, figure) 
distinct(select(df,figure))
print('Using Pipes')


df %>% select(figure) %>% distinct()

  figure
1 triangle
2 circle
3 triangle
4 circle
5 triangle

  figure
1 triangle
2 circle

  figure
1 triangle
2 circle

## String manipulation  is very important to clean data.
the function $nchar(v_{1}...v:{n})$ allow us to know how many characters are compond each element in a vector.

removeNumbers(vector/text.).

### substr() and substring().
these functions allow us extract chains of string.
$substr(text, start=, stop=)

In [113]:
names = c('Red1', 'Red', 'red', ' red', ' red ', 'Red 1', 'rED','R3d')
nchar(names)

text = 'this text contain several characters'

substr(text, 1, 4)

[1] 4 3 3 4 5 5 3 3

[1] "this"