## Cross validation hyperparameter tuning

In [304]:
import sklearn
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
df =datasets.load_iris(as_frame=True)
df = df['frame']
X = df.iloc[:,:-1]
y = df.iloc[:,[-1]]
y = y.astype('int')
clf = DecisionTreeClassifier()
fitM = clf.fit(X,y)
clf.score(X,y)
scores =[]
from sklearn.model_selection import KFold
kfolds = KFold(n_splits=5, shuffle=True)
for itrain, itest in kfolds.split(X):
    Xtrain, Xtest = X.iloc[itrain], X.iloc[itest]
    ytrain, ytest = y.iloc[itrain], y.iloc[itest]
    model = clf.fit(Xtrain,ytrain) 
    score = accuracy_score(ytest,model.predict(Xtest))
    scores.append(score)
mean = np.mean(scores)
sd = np.std(scores)
print(mean, sd)

0.9400000000000001 0.04898979485566354

(30,)

In [277]:
ytest

     target
4         0
8         0
12        0
15        0
22        0
29        0
36        0
45        0
46        0
48        0
56        1
61        1
62        1
79        1
80        1
83        1
90        1
91        1
99        1
100       2
103       2
118       2
120       2
131       2
137       2
141       2
142       2
145       2
147       2
148       2

In [96]:
import numpy as np
e = np.array(('a','b','c','d','e','o','p','g','t','v','g','u'))
Kfold = KFold(n_splits=3, shuffle=True)
for itrain, itest in Kfold.split(e):
    print('train index', itrain)
    print('test index', itest)
#     print('--')
    
# This return the indices we can adjudicate to the index the X and the Y

train index [ 0  1  5  7  8  9 10 11]
test index [2 3 4 6]
train index [ 1  2  3  4  5  6  8 11]
test index [ 0  7  9 10]
train index [ 0  2  3  4  6  7  9 10]
test index [ 1  5  8 11]