In [ ]:
##################3 Missing LAB

In [1]:
import pandas as  pd

In [18]:
df = pd.read_excel('missing_lab.xlsx')

In [19]:
df

   Variable1 Variable2 Variable3  Variable4    Variable5
0        1.0       NaN       NaN          1  hello world
1        2.0       NAN         2          1        space
2        3.0      None         3          1          NaN
3        NaN         3         4          1         None
4        1.0         3      None          1          NAN
5        2.0         1       NAN          1         none
6        3.0       NaN       NaN          1        space

In [20]:
df['Variable2'].value_counts()

3       2
NAN     1
1       1
None    1
Name: Variable2, dtype: int64

In [39]:
for index in df['Variable2'].index:
    if df['Variable5'].iloc[index] == np.nan:
        print('yes')
        
        
for index in df['Variable2'].index:
    if pd.isnull(df['Variable5'].iloc[index]) == True:
        print('yes')

yes

In [47]:
import numpy as np
for index in df['Variable5'].index:
    if pd.isnull(df['Variable5'].iloc[index] )== True:
        print('Missing value finded')

Missing value finded

In [49]:
# Pass from a string or value to nan
df['Variable5']

0    hello world
1          space
2            NaN
3           None
4            NAN
5           none
6          space
Name: Variable5, dtype: object

In [55]:
df['Variable5'].replace(to_replace='hello world', value=np.nan, inplace=True)

In [56]:
import numpy as np
for index in df['Variable5'].index:
    if pd.isnull(df['Variable5'].iloc[index] )== True:
        print('Missing value finded')

Missing value finded
Missing value finded